@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}



.container{

    padding : 0rem 1rem;
}

.container-center{

    max-width: 600px;
    margin : auto;
}

:root {
    --primary-color : #0c4a6e;
}

.primary-link{
    background-color : var(--primary-color);
    color : white;
}

.secondary-link{
    color : var(--primary-color);
    border : 1px solid var(--primary-color);
}

.link{
    text-decoration : none;
    padding : 0.5rem 1rem;
    border-radius : 0.5rem;
}

hr{
    margin : 2rem 0rem;
}
